@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

body {
  min-height: 100svh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* HEADER */

.header-image {
  position: relative;
  margin: 2rem 3rem;
}

.header-image h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  line-height: 0.9;
  text-align: center;
}

.about-me {
  margin: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
}

.about-me p {
  font-size: 2rem;
  color: #565656;
  font-weight: 300;
  line-height: 1.5;
}

.contact-links {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.contact-links img {
  width: 3rem;
}

.twitter {
  filter: brightness(0);
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.project-card {
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;
  color: #565656;
}

.project-card > img {
  height: 350px;
  width: 600px;
  object-fit: cover;
}

.project-details {
 margin: 1rem 2rem 6rem;
 display: flex;
 flex-direction: column;
 gap: 2rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.project-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-icons {
  display: flex;
  gap: 1rem;
}

.project-icons img {
  width: 2rem;
}
