@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  font-family: "Roboto", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* HEADER */

.slanted-bg {
  background-color: rgb(253, 211, 144);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -10;
}

.header-image {
  position: relative;
  margin: 2rem 3rem;
}

.header-image h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  line-height: 0.9;
  text-align: center;
}

.header-image img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3.5rem 1.5rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.8rem;
  font-weight: 100;
  text-align: center;
}

.about-me p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #565656;
}

.contact-links {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.contact-links img {
  width: 3rem;
}

.twitter {
  filter: brightness(0);
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
}

.project-card {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #565656;
}

.project-card > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.project-details {
  margin: 1rem 2rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}

.project-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links h3 {
  margin-left: 1rem;
}

.project-icons {
  display: flex;
  gap: 1rem;
}

.project-icons img {
  width: 2rem;
}

/* FOOTER */

footer {
  background-color: papayawhip;
}

footer > img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 650px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 8rem;
  font-size: 1.3rem;
  font-weight: 300;
}

h2 + p {
  font-size: 1.8rem;
}

.phone-email a {
  text-decoration: none;
  color: #565656;
}

/* MEDIA QUERIES */

/* Tablet view */

@media (min-width: 600px) {
  /* HEADER */

  .header-image {
    width: 250px;
    position: absolute;
    z-index: 1;
  }

  .header-image h1 {
    top: 1rem;
    right: -40rem;
    font-size: 4rem;
  }

  .about-me {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    padding-left: 15rem;
    text-align: center;
    margin: 6rem;
    position: relative;
    top: 2rem;
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 3.8rem;
    font-weight: 100;
    text-align: center;
  }

  .about-me p {
    font-size: 1.3rem;
  }

  /* FOOTER */
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer > img {
    padding: 3rem;
  }
}

@media (min-width: 1200px) {
  header,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  main {
    max-width: 1500px;
    margin: 0 auto;
  }

  .slanted-bg {
    width: 1200px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem;
  }
}
