@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;300&display=swap");
/* font-family: 'Playfair Display', serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

body {
  min-height: 100svh;
  font-family: 'Roboto', sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.contact-links {
  display: flex;
}

.contact-links img {
  width: 2.5rem;
}